body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #000000; /* Dark background color */
    color: #ffffff; /* White text color */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #1F1F1F; /* Darker header background */
    padding: 10px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.nav-bar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-bar li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #75FA92;
    font-weight: bold;
}

a:hover {
    color: #3AF863;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background: #1e1e1e; /* Dark background for the content */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #39f5fc; /* White text color for headings */
}

h2 {
    margin-top: 20px;
    color: #ffffff; /* White text color for subheadings */
}

p {
    color: #e0e0e0; /* Slightly lighter text color for paragraphs */
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    font-size: 18px;
    color: #ffffff; /* White text color for list items */
}

.project {
    margin-bottom: 30px;
}

.project p {
    margin-bottom: 10px;
}

